@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,200;1,400&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/7349268/pexels-photo-7349268.jpeg');
    background-position: center;
    background-repeat;
    background-size: cover;
}




.link a {
    font-family: 'Great Vibes', cursive;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: pink;
    justify-content: space-between;
}




.bg .content {
    font-family: 'Great Vibes', cursive;
    position: fixed;
    top: 0;
    color: grey;
    font-size: 50px;
}




.link-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    font-size: 20px;
}
